@media screen and (max-width: 1100px) {

    /* //header */
    form input {
        display: none;
    }

    .search {
        width: 40px;
    }

    header nav ul li:last-child {
        display: block;
    }

    nav ul li:nth-child(4) {
        display: none;
    }

    .profile_section ul li:nth-child(1),
    .profile_section ul li:nth-child(3) {
        display: none;
    }

    /* header end */
    .d-non,
    .left_area {
        display: none;
    }
    .profile_section ul li:nth-child(2){
        display: block;
    }
}

/* ===================================================== */
@media screen and (max-width: 900px) {
    .right_area {
        display: none;
    }
}

@media screen and (max-width: 804px) {
    .search_area {
        flex-basis: 92px;
    }

    nav ul li {
        display: none;
    }

    nav ul {
        justify-content: flex-start;
    }

}

/* ====================================================== */
@media screen and (max-width: 768px) {
    .d_md_none{
        display: none;
    }
}
@media screen and (max-width: 576px) {
    .d_sm_none{
        display: none;
    }
    .top_post{
        flex-direction: column;
        gap: 10px;
    }
    .top_post input{
       max-width: 90%;
    }
    .bottom_post ul li {
        padding: 8px 10px;
    }
    .create_room li{
        display: none;
    }
    .create_room li:nth-child(1){
        display: block;
    }
    .create_room li:nth-child(2),.create_room li:nth-child(3),.create_room li:nth-child(4),.create_room li:nth-child(5){
        display: block;
    }
    .comments_action p {
        padding: 8px 8px;
        font-size: 13px;
        
    }
    .comments_action p span{
        font-size: 15px;
    }
}
@media screen and (max-width: 509px) {
    .bottom_post ul{
        flex-direction: column;
    }
    .bottom_post ul li {
        width: 100%;
        justify-content: center;
    }
}