/*------------
 common css
 -------------*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-weight: normal;
    font-style: normal;
    overflow-x: hidden;
    background: #18191A;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

.center {
    display: flex;
    align-items: center;
}

.f_right {
    float: right;
}

/*------------
   header css
 -------------*/
header {
    height: 56px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #242526;
    padding: 0 20px;
    border-bottom: 1px solid #5555;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    width: 100%;
}

nav {
    flex-grow: 1;
}

nav ul {
    justify-content: center;
}

header ul li:last-child {
    display: none;
}

header a {
    display: block;
}

.search_area {
    flex-basis: 320px;
    flex-grow: 0;
}

.search_area .logo {
    width: 40px;
    height: 40px;
}

.search_area .logo img {
    width: 100%;
}

.search {
    width: 240px;
    height: 40px;
    background: #3a3b3c;
    border-radius: 25px;
}

.search span {
    color: #e4e6eb;
    font-size: 18px;
}

.search input {
    background: none;
    border: none;
    color: #e4e6eb;
    flex-grow: 1;
    height: 100%;
    font-size: 16px;
    padding-left: 10px;
}

.search input:focus {
    outline: none !important;
    border-color: none;
}

nav ul li a {
    padding: 6px 35px;
    border-radius: 8px;
    transition: .2s;
    position: relative;
}

nav ul li:first-child a {
    border-bottom: 3px solid #2374E1;
    padding-top: 14px;
    border-radius: 0;
    color: rgb(24, 24, 148);
}

nav ul li:first-child a .material-icons-outlined {
    color: #2374E1;
}

nav ul li a:hover {
    background: #3f4142;
}

nav ul li a::after {
    content: attr(data-tag);
    position: absolute;
    bottom: -40px;
    left: 0;
    right: 0;
    height: 20px;
    width: 80px;
    background: #e4e6eb;
    text-align: center;
    margin: 0 auto;
    transition: .2s;
    display: none;
    font-size: 12px;
    color: #717172;
    padding: 7px 15px 5px;
    border-radius: 5px;
}

nav ul li a:hover:after {
    display: block;
}

nav ul li a .material-icons-outlined {
    color: #e4e6eb;
    font-size: 28px;
}

.profile_section {
    flex-basis: 350px;
    flex-grow: 0;
}

.profile_pic {
    border-radius: 25px;
    margin-right: 4px;
    padding: 5px 6px;
    transition: .2s;
    cursor: pointer;
}

.profile_pic:hover {
    background: #3a3b3c;
}

.profile_section .profile_pic img {
    border-radius: 50%;
    color: #e4e6eb;
    margin-right: 5px;
    width: 30px;
    height: 30px;
}

.profile_section .profile_pic {
    color: #e4e6eb;
}

.profile_section ul li span,
.profile_section ul li i {
    color: #e4e6eb;
    font-size: 28px;
    background: #3a3b3c;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    line-height: 40px;
    text-align: center;
    margin-left: 8px;
    transition: .2s;
    cursor: pointer;
}

.profile_section ul li:hover span,
.profile_section ul li:hover i {
    background: #474849;
}

.profile_section ul li {
    position: relative;
}

.profile_section ul li::after {
    content: attr(data-tag);
    position: absolute;
    bottom: -40px;
    left: -42px;
    right: 0;
    height: 20px;
    width: 45px;
    background: #e4e6eb;
    text-align: center;
    margin: 0 auto;
    transition: .2s;
    display: none;
    font-size: 12px;
    color: #717172;
    padding: 7px 50px 5px;
    border-radius: 5px;
}

.profile_section ul li:hover::after {
    display: block;
}

.profile_section ul li:first-child::after {
    display: none;
}

.main_container {
    max-width: 1464px;
    margin: auto;
    display: flex;
}

.separator {
    width: 98%;
    height: 1px;
    background: #3a3b3c;
    margin-top: 10px;
    margin-left: 5px;
}

/*------------
   main css
 -------------*/
.left_area,
.right_area {
    flex-basis: 330px;
    flex-grow: 0;
    height: 100vh;
    flex-shrink: 0;
    padding-top: 75px;
    overflow: auto;
    overflow-x: hidden;
}

/* scrollbar  */
/* width */
::-webkit-scrollbar {
    width: 8px;
}

.left_area:hover::-webkit-scrollbar-thumb {
    background-color: #3e4042;
    border-radius: 25px;
}

.right_area:hover::-webkit-scrollbar-thumb {
    /* background: #888; */
    background-color: #3e4042;
    border-radius: 25px;
}

/* Track */
::-webkit-scrollbar-track {
    background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
    /* background: #888; */
    background-color: transparent;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    border-radius: 25px;
}

/*------------
   left side css
 -------------*/
.left_area {
    background: #18191A;
    padding: 75px 0px 0px 10px;
}

.profile_area ul li a {
    display: flex;
    align-items: center;
    color: #e4e6eb;
    font-size: 14px;
    padding: 8px;

    transition: .2s;
}

.profile_area ul li:hover {
    background: #303031;
    border-radius: 4px;
}

.profile_area ul li a img {
    height: 28px;
    width: 28px;
    border-radius: 50%;
    margin-right: 8px;
}

.collapse {
    display: flex;
    align-items: center;
    color: #E4E6EB;
    padding: 9px;
    cursor: pointer;
    border-radius: 4px;
    transition: .2s;
}

.collapse:hover {
    background: #303031;
}

.collapse span {
    color: #E4E6EB;
    width: 28px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    font-size: 20px;
    border-radius: 50%;
    background: #454546;
    margin-right: 8px;
}

.shortcuts {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    height: 15px;

}

.shortcuts button {
    color: #4599ff;
    display: none;
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 5px;
    background: none;
}

.shortcuts:hover button {
    display: block;
}

.shortcuts button:hover {
    background: #3a3b3c;
}

.shortcuts h4 {
    font-size: 16px;
    color: #b0b3b8;
}

.left_bottom li a {
    line-height: 20px;
    font-size: 16px;
    font-weight: 600;
}

.left_bottom li a img {
    border-radius: 4px !important;
}

/*------------
   middle area css
 -------------*/
.middle_area {
    flex-grow: 1;
    height: 100vh;
    padding: 0 32px;
    overflow: auto;
    padding-top: 75px;
    overflow: auto;
}

.story_area {
    position: relative;
}

.slider_arrow {
    position: absolute;
    color: #fff;
    right: -20px;
    bottom: 0;
    background: #525355;
    height: 42px;
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    top: 0;
    margin: auto 0;
    color: #b0b3b8;
    font-size: 22px;
    transition: .1s;
    cursor: pointer;
}

.slider_arrow:hover {
    background: #5f6061;
}

.story_content {
    display: flex;
    align-items: center;
}

.story_box {
    position: relative;
    border-radius: 10px;
    margin: 0 4px;
    height: 240px;
    flex-basis: 111px;
    flex-grow: 1;
    overflow: hidden;
    cursor: pointer;
    transition: .3s;
}

.story_box::before {
    width: 100%;
    height: 100%;
    content: "";
    left: 0;
    bottom: 0;
    position: absolute;
    background: #00000021;
}
.story_box_text{
    position: relative;
}
.story_box .story_avatar img {
	position: absolute;
	width: 35px;
	height: 35px;
	left: 12px;
	border-radius: 50%;
	top: 12px;
	border: 3px solid #297be5;
	bottom: 0;
	align-content: flex-start;
	display: flex;
	align-items: last baseline;
}

.active{
    position: relative;
}
.active::after{
    content: "";
    position: absolute;
    width: 6px;
    height: 6px;
    background: #31A24C;
    right: 0;
    bottom: 0;

}
.story_box:hover::before {
    background: #3939395e;
}

.story_box_text {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    right: 0;
    text-align: center;

}

.story_box_text h5 {
    font-size: 16px;
    color: #e6e6e6;
    padding-left: 0px;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    display: -webkit-box;
    line-height: 22px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 5px;
}

.story_box:first-child h5 {
    font-size: 14px;
    color: #fff;
    font-weight: 500;
    padding: 32px 0 10px;
    background: #202122;
    text-align: center;
}

.story_box:first-child span {
    position: absolute;
    left: 0;
    right: 0;
    top: -19px;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    line-height: 36px;
    background: #297BE5;
    margin: 0 auto;
    color: #fff;
    border: 2px solid #202122;
}

.story_box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: .2s;
}

.story_box:hover> img {
    transform: scale(1.1);
}

/*------------
   right side css
 -------------*/
.right_area {
    background: #18191A;
    padding: 75px 10px 0px 10px;
}

/* bithday area */
.birthday {
    background: #242526;
    padding: 12px;
    border-radius: 8px;
}

.birhday_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.top_one {
    display: flex;
    align-items: center;
    color: #fff;
    color: #e4e6eb;
    font-weight: 500;
    font-size: 14px;
}

.top_one img {
    margin-right: 8px;
}

.top_two {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    transition: 0.2s;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #e4e6eb;
    font-size: 15px;
}

.top_two:hover {
    background: #474849;
}

.top_two span {
    font-size: 16px;
}

.birthday h3 {
    font-size: 17px;
    font-weight: 400;
    color: #e4e6eb;
}

.birthday h3 a {
    color: #e4e6eb;
    font-weight: 600;
}

/* sponsored area */


.sponsored_area h3 {
    color: #b0b3b8;
    font-weight: 600;
    font-size: 16px;
    margin-top: 15px;
}

.sponsor_box {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    padding: 10px;
    border-radius: 4px;
    transition: .2s;
}

.sponsor_box:hover {
    background: #303031;
}

.sponsor_box img {
    width: 84px;
    height: 84px;
    border-radius: 8px;
    margin-right: 18px;
}

.sponsor_box h4 {
    color: #b0b3b8;
    font-size: 15px;
}

.sponsor_box small {
    color: #b0b3b8;
}

/* contacts area */
.contacts_area {
    margin-top: 15px;
}

.contacts_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 25px;
}

.contacts_top h4 {
    color: #b0b3b8;
    font-weight: 600;
    font-size: 16px;
}

.contacts_top ul {
    display: flex;
    align-items: center;
}

.contacts_top li span {
    color: #b0b3b8;
    height: 32px;
    width: 32px;
    transition: 0.2s;
    border-radius: 50%;
    line-height: 32px;
    text-align: center;
    font-size: 22px;
    cursor: pointer;
}

.contacts_top li:hover span {
    background: #474849;
    cursor: pointer;
}

.contacts_bottom li a {
    display: flex;
    align-items: center;
    color: #e4e6eb;
    font-size: 14px;
    padding: 8px;
    transition: .2s;
    font-weight: 600;
    border-radius: 4px;
}

.contacts_bottom li:hover a {
    background: #303031;

}

.contacts_bottom li a img {
    margin-right: 10px;
    border-radius: 50%;
    height: 32px;
    width: 32px;
    object-fit: cover;
}

.contact_box {
    position: relative;
}

.contact_box::before {
    content: "";
    position: absolute;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #31A24C;
    right: 8px;
    bottom: 0px;
    border: 1px solid #18191a;
}

.group_conversation {
    margin-top: 15px;
}

.group_conversation h4 {
    color: #b0b3b8;
    font-weight: 600;
    font-size: 16px;
}

.group_conversation ul {}

.group_conversation ul li {}

.group_conversation ul li a {
    display: flex;
    align-items: center;
    color: #e4e6eb;
    font-size: 14px;
    padding: 8px;
    transition: .2s;
    font-weight: 600;
    border-radius: 4px;
}

.group_conversation ul li:hover a {
    background: #303031;
}

.group_conversation ul li a img {
    width: 32px;
    height: 32px;
    object-fit: cover;
    border-radius: 50%;
    margin-right: 10px;
}

/*-----------------
 create post style
 ---------------- */
.post_area {
    max-width: 550px;
    margin: 0 auto;
}

/* post_top */
.create_post_top {
    padding: 15px 15px 10px;
    margin-top: 25px;
    background: #242526;
    border-radius: 10px;
}

.top_post {
    display: flex;
    align-items: center;
}

.top_post img {
    border-radius: 50%;
}

.top_post input {
    flex: 1;
    border: 0;
    outline: 0;
    padding: 10px 13px;
    background: #3a3b3c;
    color: #e4e6eb;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    font-weight: 400;
    font-size: 17px;
    border-radius: 25px;
    margin-left: 10px;
    transition: .1s;
}

.top_post input:hover {
    background: #4e4f50;
}

/* bottom_post */
.bottom_post ul {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.bottom_post ul li {
    display: flex;
    align-items: center;
    gap: 6px;
    color: #b0b3b8;
    font-size: 14px;
    font-weight: 700;
    font-family: "Segoe UI Historic", "Segoe UI", Helvetica, Arial, sans-serif;
    margin-top: 5px;
    transition: .2s;
    padding: 8px 25px;
    border-radius: 5px;
}

.bottom_post ul li:hover {
    background: #303031;
    cursor: pointer;
}

.bottom_post ul li:first-child span {
    color: #F4556F;
    font-size: 30px;
}

.bottom_post ul li:nth-child(2) span {
    color: #58C472;
    font-size: 30px;
}

.bottom_post ul li:last-child span {
    color: #F8C03E;
    font-size: 30px;
}

/* crate post middle style */
.create_post_middle {
    padding: 15px 15px 10px;
    margin-top: 25px;
    background: #242526;
    border-radius: 10px;
    position: relative;
}

.slider_arrow_two {
    position: absolute;
    color: #fff;
    right: 22px;
    bottom: 0;
    background: #525355;
    height: 50px;
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    top: 0;
    margin: auto 0;
    color: #b0b3b8;
    font-size: 22px;
    transition: .1s;
    cursor: pointer;
}

.slider_arrow_two:hover {
    background: #5f6061;
}

.create_room ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.create_room ul li:first-child {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 25px;
    height: 40px;
    padding: 12px;
    color: #4599ff;
    border: 3px solid #263951;
    transition: .2s;
}

.create_room ul li:first-child:hover {
    background: #3A3B3C;
    border: 3px solid #3f5269;
}

.create_room ul li:first-child img {
    border-radius: unset;
    width: unset;
    height: unset;
}

.create_room li img {
    border-radius: 50%;
    height: 40px;
    width: 40px;

}

.create_room li {
    position: relative;
}

.create_room li::after {
    position: absolute;
    content: "";
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #31A24C;
    right: -3px;
    bottom: 5px;
    border: 1px solid #18191a;
}

.create_room li:first-child::after {
    width: 0;
    height: 0;
}

/* post area style */
.single_post {
    background: #242526;
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.left_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
}

.title_left {
    display: flex;
    align-items: center;
    gap: 12px;
}

.left_circle img {
    border-radius: 50%;
}

.left_title h5 a {
    font-size: 15px;
    color: #e4e6eb;
}
.left_title small{
    font-size: 13px;
    color: #adadad;
    font-weight: 400;
}

.left_title p {
    display: flex;
    align-items: center;
    gap: 4px;
}

.left_title p a {
    font-size: 12px;
    color: #b0b3b8;
}

.left_title p span {
    font-size: 14px;
    color: #b0b3b8;
}

.post_top_icon {
    color: #b0b3b8;
    width: 40px;
    height: 40px;
    transition: 0.2s;
    border-radius: 50%;
    font-size: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post_top_icon:hover {
    background: #474849;
    cursor: pointer;
}
.post_text{
    padding: 0px 15px 10px;
    color: #e4e6eb;
    font-size: 14px;
}
.middle_post img {
    width: 100%;
    height: 100%;
}

.post_coments {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
}

.left_comments {
    display: flex;
    align-items: center;
    gap: 0;
}

.left_comments img {
    width: 20px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 50%;
}

.left_comments p {
    color: #b0b3b8;
}

.ml-3 {
    margin-left: 3px;
}

.right_comments a {
    color: #b0b3b8;
    font-size: 14px;
}

.comments_action {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 3px 15px;
    color: #b0b3b8;
}

.comments_action p {
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 8px 15px;
    cursor: pointer;
    transition: .2s;
    width: 100%;
    justify-content: center;
    border-radius: 4px;
}

.comments_action p:hover {
    background: #303031;
}